<div class="main-wrapper default-font">
  <!-- how it work -->
  <div class="how-it-works" id="how-it-work">
    <div class="container">
      <div class="main-heading text-center">
        <h1 class="color-blue">Handelsbetingelser og vilkår</h1>
        <div class="main-paragraph">
          <!-- <p>How the best plan works ?</p> -->
        </div>
      </div>
    </div>
    <div class="step-prcress">
      <div class="step01 marginb-150">
        <div class="sstp-ba">
          <img src="assets/images/back-path2.svg" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-12" data-aos="zoom-in">
              <div class="steps-details">
                  <div class="container-fluid bg-gray" id="accordion-style-1">
                    <div class="container">
                        <div class="row">
                          <div class="col-10 mx-auto">
                            <div class="accordion" id="accordionExample">
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h5 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>1/ WEBSITE "Bestplan.com
                                </button>
                                </h5>
                                </div>
                  
                                <div id="collapseOne" class="collapse show fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">
                                    <p class="justify-text">
                                      1. Disse vilkår og betingelser ("Terms and Conditions")
                                      regulerer og bestemmer dette websted og / eller dets
                                      applikationer, der leveres af Bestplan.com / herefter benævnt
                                      WEBSTEDET /.</p>
                                    <p class="justify-text">
                                      2. Disse vilkår og betingelser udgør en kontrakt, der styrer forholdet mellem Bestplan.com og brugerne af de
                                      tjenester, der leveres af webstedet. Disse vilkår og betingelser gælder for hele indholdet på dette websted.</p>
                                    <p class="justify-text">
                                      3. Et websted med henblik på disse vilkår og betingelser er et specielt sted i det globale internetnetværk, der er
                                      tilgængeligt via sin unikke adresse, hvor et sæt websider indlæses gennem brugerens browser på webadressens
                                      indtastning.</p>
                                    <p class="justify-text">
                                      4. Ved at besøge denne hjemmeside giver du hermed fuldt ud tilladelse til at være bundet af vilkårene og
                                      betingelserne for hjemmesiden og alle de øvrige betingelser, i forhold til og som følge af og ved brugen heraf. Dit
                                      samtykke anses for at være givet ved at bruge Webstedet, dets hver menu kategori eller underkategori, afsnit eller
                                      underafsnit, såvel som fremkaldelse, udvikling og opsigelse af eventuelle juridiske forhold, der opstår som følge
                                      af og ved brug af denne hjemmeside.</p>
                                    <p class="justify-text">
                                      5. Ved at besøge denne hjemmeside giver du hermed fuldt ud dit samtykke til indsamling og brug af dine personlige
                                      oplysninger til brug af hjemmesiden og alle forhold, der stammer fra eller er forbundet med hjemmesiden. Ved at
                                      registrere og bruge webstedet er du bundet til både den nuværende konfiguration af hjemmesiden og alle ændringer i
                                      den, lavet i form af tilføjelser og ændringer eller udvikling af nye menuer, kategorier, sektioner og andre.
                                      Forudsat at du ikke er enig i ovenstående eller ikke ønsker at være bundet af vilkårene og betingelserne for dette
                                      websted, er du ikke tilladt at bruge, besøge eller indgå juridiske forbindelser med webstedet.</p>
                                    <p class="justify-text">
                                      6. Webstedet er leveret af Bestplan.</p>
                                    <p class="justify-text">
                                      7. En Client, i henhold til disse Betingelser og Vilkår, kan være enhver person, der er villig til at bruge eller
                                      drage fordel af de tjenester, Bestplan tilbyder.</p>
                                    <p class="justify-text">
                                      8. Ordene "dig" og "bruger" henviser til alle personer, der bruger hjemmesiden.</p>
                                    <p class="justify-text">
                                      9. Ved dine handlinger relateret til registrering, ved hjælp af hjemmesidens tjenester, herunder ved hjælp af de
                                      oplysninger, der er tilgængelige på webstedet Bestplan.com uden registrering, accepterer du Vilkårene og
                                      betingelserne ”Terms and Conditions".</p>
                                    <p class="justify-text">
                                      10. Brugen af hjemmesiden giver dig ikke som "forbrugere" nogen ejendomsrettigheder over indholdet, data og
                                      materialer, der er tilgængelige for dig via webstedet.</p>
                                    <p class="justify-text">
                                      11. En IP-adresse er en unik identifikation, der er forbundet med en computer, websted eller ressource for en
                                      bestemt besøgende på en måde, der muliggør lokalisering i det globale internetnetværk.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingTwo">
                                  <h5 class="mb-0">
                                <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>2/ ÆNDRINGER I "Vilkår og betingelser".
                                </button>
                                </h5>
                                </div>
                                <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-body">
                                    <p class="justify-text">
                                      12. Forvaltningen af webstedet forbeholder sig ret til at ændre vilkårene og betingelserne til enhver tid uden
                                      nogen form for underretning til brugerne og klienterne, idet det fastslås, inden køb på Bestplan.com. </p>
                                    <p class="justify-text">
                                      13. Hvis du fortsætter med at bruge webstedet efter ændringerne, bekræfter du, at du er enig i ændringerne.
                                    </p>
                                    <p class="justify-text">
                                      14. Hvis du er uenig i de nuværende vilkår og betingelser ”Terms and Conditions" eller en senere version, skal du
                                      ikke bruge webstedet.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingThree">
                                  <h5 class="mb-0">
                                <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>
                                  3/ SERVICE
                                </button>
                                </h5>
                                </div>
                                <div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                  <div class="card-body">
                                    <p class="justify-text">
                                      15. Den service, der tilbydes af webstedet, genererer et individuelt kost- og træningsprogram gennem en speciel
                                      software og en speciel algoritme som ser på kunderesponser, der analyseres, og slutteligt producere en kost- og /
                                      eller træningsprogram.</p>
                                    <p class="justify-text">
                                      15.1. Omkostningerne er fuldt beskrevet og fastlagt på webstedet, da det samme skal betales inden tildeling af
                                      den enkelte kost- og / eller træningsprogram på den måde, der udtrykkeligt er angivet på stedet.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingFour">
                                  <h5 class="mb-0">
                                <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>4/ KUNDERnes KRAV
                                </button>
                                </h5>
                                </div>
                                <div id="collapseFour" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="justify-text">
                                            16. Medmindre andet er angivet i disse vilkår og betingelser eller online, er enhver distribution for kommercielle og / eller reklamemæssige formål, offentliggørelse eller brug af dette websted eller enhver information, data eller materiale strengt forbudt.</p>
                                        <p class="justify-text">
                                            17. Kunden garanterer og accepterer, at mens du bruger webstedet og / eller de ydelser, der leveres på eller gennem det, bør du ikke:
                                        </p>
                                        <p class="justify-text">
                                            17.1. efterligne en anden person ved at give andre personlige oplysninger som sin egen;</p>
                                        <p class="justify-text">
                                            17.2. forsøge at få uautoriseret adgang til andre computersystemer via webstedet;
                                        </p>
                                        <p class="justify-text">
                                            17.3. indsamle e-mail-adresser og / eller andre kontakter og personlige oplysninger eller bruge andre midler til at hente lister over brugere eller andre oplysninger fra eller via webstedet</p>
                                        <p class="justify-text">
                                            17.4. Indsamle oplysninger på en server eller database, der er forbundet til webstedet for at kunne levere tjenester;
                                        </p>
                                        <p class="justify-text">
                                            17.5. Bruge webstedet eller de leverede tjenester på en måde, der ville medføre overbelastning, afbrydelse, skade på hjemmesiden;</p>
                                        <p class="justify-text">
                                            17.6. Bruge webstedet på en måde, der krænker rettighederne hertil
                                        </p>
                                        <p class="justify-text">
                                            17.7. Bruge webstedet på en måde, der overtræder gældende lov</p>
                                        <p class="justify-text">
                                            18. Kunden accepterer, at han / hun ikke vil bruge hjemmesiden på en måde, der forhindrer andre parter i at bruge hjemmesiden.
                                        </p>
                                      </div>
                                </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingFive">
                                    <h5 class="mb-0">
                                  <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>5/ VAREMÆRKER
                                  </button>
                                  </h5>
                                  </div>
                                  <div id="collapseFive" class="collapse fade" aria-labelledby="headingFive" data-parent="#accordionExample">
                                      <div class="card-body">
                                          <p class="justify-text">
                                              19. Varemærker, logoer, handelsnavne (firma), der vises på webstedet eller er tilgængeligt via webstedet er registreret af de følgende rettigheder som er beskyttet ved lov.</p>
                                          <p class="justify-text">
                                              20. Det er forbudt at anvende ovenstående i produkter og / eller tjenester, der ikke er relateret til og / eller sponsoreret af indehaverne af rettighederne til mærket / logoet.
                                          </p>
                                          <p class="justify-text">
                                              21. Det er forbudt at anvende ovenstående på en måde, der kan bedrage forbrugerne om tjenesteydelsens art og kvalitet. Alle handlinger, hvorigennem en eller anden måde afdækker eller diskrediterer indehavere, der opstår ved registrering, er forbudt.</p>
                                        </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingSix">
                                    <h5 class="mb-0">
                                  <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>
                                    6/ Personlige oplysninger, når behandlingen af anmodninger
                                  </button>
                                  </h5>
                                  </div>
                                  <div id="collapseSix" class="collapse fade" aria-labelledby="headingSix" data-parent="#accordionExample">
                                      <div class="card-body">
                                          <p class="justify-text">
                                              22. Når du bruger webstedet og / eller de tjenester, der leveres på eller via webstedet, bliver du måske bedt om at give visse personlige oplysninger, som senere vil blive kaldt "brugeroplysninger".
                                          </p>
                                          <p class="justify-text">
                                              23. De oplysninger, du angiver, vil kun blive brugt til at behandle din anmodning.
                                          </p>
                                          <p class="justify-text">
                                              24. Du accepterer, at Bestplan skal bruge de oplysninger, du har leveret, for at kontakte dig for aktiviteterne relateret til hjemmesiden og de tjenester, der tilbydes af virksomheden.
                                          </p>
                                          <p class="justify-text">
                                              25. Bestplan påtager sig intet ansvar i forbindelse med de oplysninger, du giver om din ansøgning til nogen tredjepart.
                                          </p>
                                          <p class="justify-text">
                                              26. Du anerkender, at de oplysninger, du gav, når du bruger webstedet, er nøjagtig og fuldstændig og påtager dig om nødvendigt at give Bestplan din nuværende e-mail-adresse for at modtage opdaterede oplysninger fra Bestplan.
                                          </p>
                                          <p class="justify-text">
                                              27. Derudover kan vi bede dig om at give os visse oplysninger som alder, køn, fysiske egenskaber, sportspræference, for at tilpasse vores tjenester til dine behov.
                                          </p>
                                          <p class="justify-text">
                                              28. Du anerkender og accepterer, at du alene er ansvarlig for nøjagtigheden og indholdet af de oplysninger, du har fremlagt.
                                          </p>
                                        </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingSeven">
                                    <h5 class="mb-0">
                                  <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>
                                    7/ Indsamling af oplysninger fra forbrugere og brugsbetingelser
                                  </button>
                                  </h5>
                                  </div>
                                  <div id="collapseSeven" class="collapse fade" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                      <div class="card-body">
                                          <p class="justify-text">
                                              29. Bestplan indsamler oplysninger automatisk ved brug af elektroniske værktøjer, der ikke er synlige for vores besøgende. For eksempel kan vi registrere navnet på din internetudbyder eller bruge "cookie" teknologi til at genkende dig og holde oplysninger fra dit besøg.
                                          </p>
                                          <p class="justify-text">
                                              30. Desuden kan cookien gemme dit brugernavn og kodeord, idet du spares for at indtaste disse oplysninger hver gang du besøger webstedet eller vi kan kontrollere antallet af gange du støder på en bestemt annonce, mens du besøger vores websted.
                                          </p>
                                          <p class="justify-text">
                                              31. I nogle tilfælde kan du vælge ikke at levere oplysninger til Bestplan, f.eks. Ved at indstille din browser til at nægte at acceptere cookies, men hvis du gør det, kan du muligvis ikke få adgang til visse dele af Websitet, eller du kan blive bedt om at re- Indtaste brugernavn og adgangskode.
                                          </p>
                                          <p class="justify-text">
                                              32. Bestplan indsamler oplysninger for at forbedre dit besøg og levere individualiseret indhold og reklame.
                                          </p>
                                          <p class="justify-text">
                                              33. Bestplan kan anvende personlige oplysninger indsamlet via webstedet til at kommunikere med dig om dine præferencer for produkter og tjenester, der tilbydes af Bestplan, og andre emner, som vi mener, du måske finder interessante.
                                          </p>
                                          <p class="justify-text">
                                              34. Personlige oplysninger indsamlet af Bestplan kan også bruges til andre formål, herunder men ikke begrænset til administration af webstedet, fejlfinding, behandling af e-handelstransaktioner, administration af konkurrencer og anden kommunikation med dig.
                                          </p>
                                          <p class="justify-text">
                                              35. Bestplan kan udlevere dine oplysninger ved domstolsregel eller i andre tilfælde, hvor der er grund til at gøre det ved lov, i forbindelse med opkrævning af skyldige beløb og / eller retshåndhævelse, hvis det er hensigtsmæssigt eller nødvendigt.
                                          </p>
                                        </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingEight">
                                    <h5 class="mb-0">
                                  <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>
                                    8/ GARANTIER
                                  </button>
                                  </h5>
                                  </div>
                                  <div id="collapseEight" class="collapse fade" aria-labelledby="headingEight" data-parent="#accordionExample">
                                      <div class="card-body">
                                          <p class="justify-text">
                                              36. Websteds teamet og Bestplan er ikke ansvarlige for sene eller grove håndteringsanmodninger, hvis det skyldes omstændigheder, der ikke er afhængige af os - force majeure, tilfældige begivenheder og problemer med internettet.
                                          </p>
                                          <p class="justify-text">
                                              37. Webstedet er ikke ansvarlig for skader forårsaget af software-, hardware- eller telekommunikationsudstyr eller tab af data som følge af materiale, der søges, lastes eller bruges på nogen måde via webstedet.
                                          </p>
                                          <p class="justify-text">
                                              38. Webstedet er ikke ansvarlig for, om kunden vil opnå et specifikt resultat ved at bruge den medfølgende diæt eller træningsprogram, så vidt denne omstændighed afhænger af mange flere faktorer, som er uden for webstedets team.
                                          </p>
                                          <p class="justify-text">
                                              39. Bestplan er forpligtet til at beskytte sikkerheden for dine personlige data. Vi bruger tekniske og organisatoriske foranstaltninger til at beskytte dine personlige oplysninger mod uautoriseret adgang, tyveri og tab.
                                          </p>
                                        </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingNine">
                                    <h5 class="mb-0">
                                  <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>
                                    9/ Ret til tilbagetrækning fra kontrakt
                                  </button>
                                  </h5>
                                  </div>
                                  <div id="collapseNine" class="collapse fade" aria-labelledby="headingNine" data-parent="#accordionExample">
                                      <div class="card-body">
                                          <p class="justify-text">
                                              40. Klienten har ret til at trække sig ud af kontrakten inden for 14 dage i henhold til loven om forbrugerbeskyttelse, nemlig:
                                          </p>
                                          <p class="justify-text">
                                              - Hvis den erhvervsdrivende ikke har givet kunden oplysningerne om fortrydelsesret, før han underskriver kontrakten.
                                          </p>
                                          <p class="justify-text">
                                              - Ret til tilbagekaldelse gør det muligt for kunden at returnere de købte varer uden kompensation eller straf, og om den leverede vare eller tjenesteydelse leveres korrekt.
                                          </p>
                                          <p class="justify-text">
                                              - Inden for 14 dage efter tilbagekaldelsen skal den erhvervsdrivende refundere alle betalinger, der modtages fra forbrugeren, herunder fragtomkostninger.
                                          </p>
                                        </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingTen">
                                    <h5 class="mb-0">
                                  <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>
                                    10/ RET TIL ANVENDELSE
                                  </button>
                                  </h5>
                                  </div>
                                  <div id="collapseTen" class="collapse fade" aria-labelledby="headingTen" data-parent="#accordionExample">
                                      <div class="card-body">
                                          <p class="justify-text">
                                              41. For at bruge hjemmesiden skal du være 18 år eller have en lovlig alder i dit land, som har ret til at indgå i selvstændige kontrakter.
                                          </p>
                                          <p class="justify-text">
                                              42. Personer, der er under 18 år eller under den lovlige alder, som tillader separat kontrakt ("mindreårige") er forbudt at bruge hjemmesiden.
                                          </p>
                                          <p class="justify-text">
                                              43. Hvis vi bliver opmærksomme på oplysninger modtaget fra mindreårige, vil det blive slettet hurtigst muligt, da Bestplan ikke er ansvarlig for eventuelle skader på grund af forkerte oplysninger fra brugeren.
                                          </p>
                                          <p class="justify-text">
                                              44. Hvis du har dataoplysninger placeret eller lagt på Websitet af mindreårige, kontakt os venligst via e-mail help@Bestplan.com. Du er ansvarlig for, at oplysningerne fra dig (inklusive alder), der er indtastet på webstedet, er korrekte og fuldstændige.
                                          </p>
                                          <p class="justify-text">
                                              45. Webstedet kan ikke bruges af personer, der har sundheds- eller ernæringsproblemer.
                                          </p>
                                          <p class="justify-text">
                                              46. ​​ Webstedet kan ikke bruges af personer der har et skadeligt helbred eller mennesker der har et problem med kost og af folk som kan skades af kost.
                                          </p>
                                          <p class="justify-text">
                                              47. Du kan få adgang til og gennemse webstedet på din computer eller anden enhed, medmindre andet er angivet i disse vilkår og betingelser eller på hjemmesiden.
                                          </p>
                                          <p class="justify-text">
                                              48. Udskrifter fra webstedet skal bruges til eget brug, medmindre andet er fastsat i vilkårene og betingelserne, er brugen af tjenester kun til personlig brug.
                                          </p>
                                        </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingEleven">
                                    <h5 class="mb-0">
                                  <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>
                                    11/ AGENTURER, VIRKSOMHEDER ELLER ORGANISATIONER
                                  </button>
                                  </h5>
                                  </div>
                                  <div id="collapseEleven" class="collapse fade" aria-labelledby="headingEleven" data-parent="#accordionExample">
                                      <div class="card-body">
                                          <p class="justify-text">
                                              49. Du erklærer at du bruger hjemmesiden som beregnet, som beskrevet i disse vilkår og betingelser.
                                          </p>
                                          <p class="justify-text">
                                              50. Hvis du registrerer eller bruger hjemmesiden på vegne af en virksomhed eller organisation, erklærer du, at du har de nødvendige rettigheder, som din arbejdsgiver har givet dig til at binde sig til de nævnte "Vilkår og betingelser".
                                          </p>
                                          <p class="justify-text">
                                              51. Hvis du bruger hjemmesiden på vegne af et firma og tjener penge igennem dette, er du forpligtet til straks at informere Bestplan. Forebyggende foranstaltninger
                                          </p>
                                          <p class="justify-text">
                                              52. Indholdet på webstedet er kun til orientering og er ikke beregnet til at erstatte kontakten med din læge eller anden sundhedspersonale.
                                          </p>
                                          <p class="justify-text">
                                              53. Vi er ikke en licenseret medicinsk enhed til at yde lægehjælp og har ikke den nødvendige uddannelse til at bestemme diagnoser, analysere eller behandle medicinske problemer af nogen art, selvom vi har et kvalificeret team med den nødvendige viden og færdigheder, kan vi ikke forudsige effekten af en diæt på en person med et problematisk helbred eller forekomsten af bivirkninger hos mennesker med et godt helbred.
                                          </p>
                                          <p class="justify-text">
                                              54. Klienterne skal altid konsultere en læge, inden de starter på et kost-, et træningsprogram, ændrer nutidens kost eller hvis der er spørgsmål vedrørende deres helbred.
                                          </p>
                                          <p class="justify-text">
                                              55. Kunden er forpligtet til at overholde professionel lægehjælp og ikke forsinke at søge sådan på grund af oplysninger fra webstedet. Bestplan.com kræver, at du konsulterer en læge, inden du starter en individuel kost og / eller træningsprogram og / eller diæt, som du modtog som følge af information tilgængelig på webstedet.
                                          </p>
                                          <p class="justify-text">
                                              56. Kunden erklærer at han / hun er opmærksom på, at ikke alle diæter og træninger på hjemmesiden er passende for hver enkelt person.
                                          </p>
                                          <p class="justify-text">
                                              57. Kunden erklærer at han / hun er opmærksom på, at risikoen for fysisk skade, forringet helbred og / eller død er mulig, når de indgår i et træningsprogram eller ved at følge en individuel eller anden kost.
                                          </p>
                                          <p class="justify-text">
                                              58. Kunden erklærer, at ved enhver ubehag, smerte eller andre problemer skal stoppe kosten straks, og hvis han / hun ikke stopper den, er webstedet ikke ansvarlig for sin handling eller manglende handling.
                                          </p>
                                          <p class="justify-text">
                                              59. Ved at bruge dette websted bekræfter du, at du har modtaget din læges godkendelse til at deltage i vægttabs / vægtøgnings programmer gennem individuel kost, træning og øvelser fundet på webstedet.
                                          </p>
                                          <p class="justify-text">
                                              60. Webstedet er ikke ansvarlig for eventuelle sundhedsmæssige problemer, der kan opnås ved brug af en kost, som du har modtaget gennem de tjenester, der leveres af hjemmesiden.
                                          </p>
                                          <p class="justify-text">
                                              61. Hvis du begynder at følge en individuel kost og / eller træningsprogram fra webstedet, accepterer du, at du gør det på egen risiko.
                                          </p>
                                        </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingTwelve">
                                    <h5 class="mb-0">
                                  <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                    <i class="fa fa-envelope main"></i><i class="fa fa-angle-double-right mr-3"></i>
                                    12/ SITE INDHOLD
                                  </button>
                                  </h5>
                                  </div>
                                  <div id="collapseTwelve" class="collapse fade" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                                      <div class="card-body">
                                          <p class="justify-text">
                                              62. Vi er ikke ansvarlige for nøjagtigheden, pålideligheden, resultaterne og den korrekte brug af oplysninger, der er opnået via webstedet. Brug af oplysninger fra medarbejdere i Bestplan og andre personer, der er knyttet til webstedet (associerede) eller besøgende, er helt egen risiko.
                                          </p>
                                          <p class="justify-text">
                                              63. Vi forbeholder os ret til altid at videregive oplysninger, der er væsentlige for den strafferetlige forfølgelse og / eller for at løse en juridisk tvist.
                                          </p>
                                          <p class="justify-text">
                                              64. Alt indhold på dette websted, herunder test, billeder og andre oplysninger er beskyttet af lov om ophavsret og naboskabsrettigheder med alle juridiske konsekvenser.
                                          </p>
                                          <p class="justify-text">
                                              65. Klienten har ikke ret til at udskrive eller kopiere oplysninger fra et separat sted til brug for kommercielle eller andre formål, hvilket kan krænke de rettigheder, der er givet til os ved lov. Applicable law
                                          </p>
                                          <p class="justify-text">
                                              66. Bestplan holdet er beliggende på Dansk jord.
                                          </p>
                                          <p class="justify-text">
                                              67. Personer, der anvender webstedet og de leverede ydelser på et andet lands område, gør det på eget initiativ og er ansvarlige for overholdelse af lokale love, hvis og i det omfang lokale love finder anvendelse.
                                          </p>
                                          <p class="justify-text">
                                              68. For alle udestående problemer, der følger af disse vilkår og betingelser, gælder den danske lovgivning, og alle tvister som følge af fortolkning, invaliditet eller opsigelse skal afgøres af den kompetente danske domstol.
                                          </p>
                                          <p class="justify-text">
                                              Disse vilkår og betingelser er forholdet mellem os, og dig i henhold til Danmarks lovgivning.
                                          </p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>	
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
