<div class="main-wrapper default-font">
  <!-- slide -->
  <div class="main-slide">
    <div class="b-wrapper">
      <div class="banner">
        <div class="paragraph header-paragrah">
            <h1 class="color-blue text-center font-bold banner-logo-text">BestPlan</h1>
           
        </div>
        <div class="paragraph header-paragrah">
            <h3 class="color-gray intro-text">Fordi alle skal have råd til en sundere fremtid</h3>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="b-illustration">
        <img src="assets/images/pathb.svg" alt="">
      </div>
      <div class="illustration">
        <img src="assets/images/sd.1.png" alt="">
      </div>
    </div>

  </div>

  <!-- why us -->

  <div class="why-us-section marginb-150" id="why-us">
    <div class="container">
      <div class="why-body">
        <div class="main-heading">
          <h1 class="color-blue">Hvorfor os?</h1>
          <div class="main-paragraph">
           <!--  <p>Reason behing to choose us</p> -->
          </div>
        </div>
        <div class="wrapper-why">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-12">
              <div class="why-reason" data-aos="fade-up">
                <span class="working-process__icon">
                  <i class="fas fa-basketball-ball"></i>
                </span>
                <div class="why-title">
                  <h3 class="color-blue">Kvalitet</h3>
                  <p class="text-center">Alle vores planer er kvalitetssikret og udført af fagprofessionelle der alle er uddannet over industriens standarder.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 col-12">
              <div class="why-reason" data-aos="fade-up">
                <span class="working-process__icon">
                  <i class="fas fa-basketball-ball"></i>
                </span>
                <div class="why-title">
                  <h3 class="color-blue">Billigt</h3>
                  <p class="text-center">Vores unikke og personstyrede algoritme gør det muligt at behovstilpasse en plan efter dine mål og ønsker. Dette giver os mulighed for at levere en billigere service, men af samme høje kvalitet som det du finder hos en hvilken som helst anden fagprofessionel.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 col-12">
              <div class="why-reason" data-aos="fade-up">
                <span class="working-process__icon">
                  <i class="fas fa-basketball-ball"></i>
                </span>
                <div class="why-title">
                  <h3 class="color-blue">Hurtigt</h3>
                  <p class="text-center">Du lever i en travl hverdag og har ikke tid til at vente i evigheder. Derfor er et af vores primære fokusområder, at levere dine planer så hurtigt som muligt, og senest inden for 12 timer. Derved kan du hurtigt komme i gang mod dine mål, uden at skulle spilde tid på at vente.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="why-min-section">
    <div class="container">
      <div class="sub-heading" data-aos="zoom-in">
        <h4 class="color-blue">Tag ikke vores ord for det!</h4>
        <div class="sub-paragraph">
          <p class="color-deem-gray">Se nogle af vores anmeldelser her</p>
        </div>
      </div>
      <div class="testi-owl">
        <div class=" ">
          <div id="carouselExampleIndicators" class="carousel slide bg-color" data-ride="carousel">
            <ol class="carousel-indicators clearfix">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="item clearfix itm-testi" data-aos="zoom-in">
                      <div class="testimonial-paragraph">
                        <p class="text-justify">Bestplan er hurtigt og nemt i en travl hverdag. Det er tilpasset efter mine behov, da jeg ikke kan træne 5 dage i ugen - Det er skønt med en plan hvor du kan træne 2-3 dage i ugen. Derudover kan man hele tiden ændre sine behov ind op sin profil. Kan helt klart anbefales.</p>
                      </div>
                      <div class="testimonial0user">
                        <ul>
                          <li class="float-left"><img src="assets/images/p1.jpg" alt=""></li>
                          <li class="float-left">
                            <p class="usr-name">Kamille</p>
                            <p class="usr-position"></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="item clearfix itm-testi" data-aos="zoom-in">
                      <div class="testimonial-paragraph">
                        <p class="text-justify">Bestplan kan helt klart anbefales, da jeg ikke har lyst til at bruge mange penge på en online træner, der kan lave kostplaner. Det er billigt, nemt at tilpasse mine behov og et perfekt alternativ til dem der ikke ønsker en personlig træner, men blot ønsker lidt hjælp og inspiration til en sund hverdag.</p>
                      </div>
                      <div class="testimonial0user">
                        <ul>
                          <li class="float-left"><img src="assets/images/p4.jpg" alt=""></li>
                          <li class="float-left">
                            <p class="usr-name">Emil</p>
                            <p class="usr-position"></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="item clearfix itm-testi" data-aos="zoom-in">
                      <div class="testimonial-paragraph">
                        <p class="text-justify">Jeg har prøvet at træne selv, sammen med venner og endda haft personlig træner. Jeg har altid mistet motivationen og følt at jeg har spildt mine penge på træningen, indtil jeg fandt Bestplan. Nu kan jeg holde motivationen oppe. Hvis jeg skulle begynde at miste den, kan jeg ved hjælp at min profil på Bestplan se hvor jeg startede og hvor langt jeg er nået mod mit mål om at tabe mig. Det er nemt, billigt og hurtigt at komme i gang med. Jeg anbefaler Bestplan til alle der gerne vil træne, men har svært ved at komme i gang og holde motivationen oppe.</p>
                      </div>
                      <div class="testimonial0user">
                        <ul>
                          <li class="float-left"><img src="assets/images/p2.jpg" alt=""></li>
                          <li class="float-left">
                            <p class="usr-name">Andreas</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="item clearfix itm-testi" data-aos="zoom-in">
                      <div class="testimonial-paragraph">
                        <p class="text-justify">Jeg har i mange år forsøgt at komme i bedre form, men har ikke haft råd og tid til at tage kontakt med en professionel kostplanlægger og træner. Så jeg har selv prøvet at skrue et trænings og kost program sammen, men jeg har aldrig fået de resultater jeg gerne ville. Jeg har prøvet mine planer fra Bestplan i lidt over 4 uger nu og jeg har allerede opnået en rutine som klart har hjulpet mig på vej til at opnå mine mål. Som de siger syd for grænsen, Ausgezeichnet :)</p>
                      </div>
                      <div class="testimonial0user">
                        <ul>
                          <li class="float-left"><img src="assets/images/p3.jpg" alt=""></li>
                          <li class="float-left">
                            <p class="usr-name">Per</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--how it work  -->
  <div class="how-it-works" id="how-it-work">
    <div class="container">
      <div class="main-heading text-center">
        <h1 class="color-blue">Sådan fungere det?</h1>
        <div class="main-paragraph">
          <!-- <p>How the best plan works ?</p> -->
        </div>
      </div>
    </div>

    <div class="step-prcress">
      <div class="step01 marginb-150">
        <div class="sstp-ba">
          <img src="assets/images/back-path2.svg" alt="">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-12" data-aos="zoom-in">
              <div class="step-img">
                <img src="assets/images/1.png" alt="">
              </div>
            </div>
            <div class="col-sm-6 col-12" data-aos="zoom-in">
              <div class="steps-details">
                <h1 class="color-blue">Step 1</h1>
                <p class="justify-text">Vælg en plan som bliver
                  behovstilpasset til dine mål.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="step02 marginb-150">
        <div class="sstp-ba0">
          <img src="assets/images/back-path3.svg" alt="">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-12" data-aos="zoom-in">
              <div class="steps-details">
                <h1 class="color-blue">Step 2</h1>
                <p class="justify-text">Udfyld vores 4 hurtige trin, som
                  vil give os et indblik til din kommende plan.</p>
              </div>
            </div>
            <div class="col-sm-6 col-12" data-aos="zoom-in">
              <div class="step-img">
                <img src="assets/images/2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="step02 marginb-150">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-12" data-aos="zoom-in">
              <div class="step-img">
                <img src="assets/images/3.png" alt="">
              </div>
            </div>
            <div class="col-sm-6 col-12" data-aos="zoom-in">
              <div class="steps-details">
                <h1 class="color-blue">Step 3</h1>
                <p class="justify-text">Du vil modtage dine planer, på din bruger, inden for 12 timer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FREE TRIAL -->
  <div class="free-trial marginb-150">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8" data-aos="fade-down">
          <div class="f-t-hearing">
            <h3>Lad os komme igang!</h3>
           </div>
        </div>
        </div>
    </div>
  </div>

  <!-- pricing plan -->
  <div class="pricing0plan" id=start>
    <div class="main-heading text-center">
      <h1 class="color-blue">Vælg Plan</h1>
      <div class="main-paragraph">
        <p></p>
      </div>
    </div>
    <div class="container">
      <div class="tab-slider--container">
        <div id="tab1" class="tab-slider--body row">
          <div class="col-12 col-md-4" data-aos="fade-up">
            <div class="prcing-table pro reveal " data-sr-id="5" style="visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s; transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s; ">
              <div class="prcing-header text-center main-heading">
                  <span class="prcing-table__plan-name color-blue main-heading">Kost</span>
                  <br>
                  <span class="prcing-table__plan-name color-blue">Program</span>
                <p>
                  <span class="value color-blue">199</span>
                  <span class="currency color-blue">kr.</span>
                  
                </p>
              </div>
              <div class="">
                <button class="bt-modal" type="button" (click)="clickOpenModalBtn('Diet')">Start <i class="fas fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4" data-aos="fade-up">
            <div class="prcing-table pro reveal focus" data-sr-id="6" style="visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s; transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s; ">

              <span class="highlight">Best Choice</span>
              <div class="prcing-header">
                <span class="prcing-table__plan-name color-blue">Kost & Trænings</span>
                <br>
                  <span class="prcing-table__plan-name color-blue">Program</span>
                <p>
                  
                  <span class="value color-blue">349</span>
                  <span class="currency color-blue">kr.</span>
                  </p>
              </div>
              <ul class="plan-features">
							  <li class="plan-features__list">Få en gratis kost guide med!</li>
              </ul>
              <div class="">
                <button class="bt-modal" type="button" (click)="clickOpenModalBtn('Training & Diet')"> Start 
                  <i class="fas fa-arrow-right"></i> </button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4" data-aos="fade-up">
            <div class="prcing-table pro reveal " data-sr-id="7" style="visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s; transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s; ">

              <div class="prcing-header">
                <span class="prcing-table__plan-name color-blue">Trænings</span>
                <br>
                <span class="prcing-table__plan-name color-blue">Program</span>
                <p>
                  <span class="value color-blue">199</span>
                  <span class="currency color-blue">kr.</span>
                 </p>
              </div>
              <div class="">
                <button class="bt-modal" type="button" (click)="clickOpenModalBtn('Training')"> Start <i
                    class="fas fa-arrow-right"></i> </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
<!-- modal -->
<div class="modal-overlay" [ngClass]="activeClass">
  <div class="modal full-screen-modal" [ngClass]="activeClass">

    <a class="close-modal close-icon" (click)="clickOpenModalBtn('')" #modalCloseBtn>
      <svg viewBox="0 0 20 20">
        <path fill="#000000" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
      </svg>
    </a><!-- close modal -->

    <div class="modal-content modal-position" [ngClass]="showPayment ? 'top-margin': ''">
      <div class="container">
        <div class="row">
          <div id="multistep">
            <ul class="ms-navigation default-font max-ul">
              <!-- navigation one -->
              <li [ngClass]="informationTab">
                <a href="#section-1">
                  <div class="ms-icon ">
                    <i class="far fa-address-card"></i>
                  </div>
                  <div class="ms-nav default-font">
                    Step 1
                    <br>
                    <small>Oplysninger</small>
                  </div>
                </a>
              </li>
              <!-- navigation two -->
              <li [ngClass]="insightTab">
                <a href="#section-2">
                  <div class="ms-icon">
                    <i class="far fa-user-circle"></i>
                  </div>
                  <div class="ms-nav default-font">
                    Step 2
                    <br>
                    <small>Indblik</small>
                  </div>
                </a>
              </li>
              <!-- navigation three -->
              <li [ngClass]="trainingTab">
                <a href="#section-3">
                  <div class="ms-icon">
                    <i class="far fa-building"></i>
                  </div>
                  <div class="ms-nav default-font">
                    Step 3
                    <br>
                    <small>Kost & Trænings</small>
                  </div>
                </a>
              </li>
              <li [ngClass]="doneTab">
                <a href="#section-4">
                  <div class="ms-icon">
                    <i class="far fa-address-card"></i>
                  </div>
                  <div class="ms-nav default-font">
                    Step 4
                    <br>
                    <small>Færdig</small>
                  </div>
                </a>
              </li>
            </ul>
            <div class="ms-container">
              <div id="section-1" class="ms-content" [ngClass]="showOrHideInformationTab">
                <form [formGroup]="informationForm">
                  <div class="container-fluid">
                    <div class="row card-div">
                      <div class="col-sm-12">
                        <div class="ms-title ms-card">Oplysninger</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="ms-card pt-0">
                          <div class="row">
                            <div class="col-sm-12">
                              <h5 class="ms-subtitle">Personlig Information</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">
                              <div class="ms-field">
                                <span class="ms-field-title">Fornavn<sup>*</sup></span>
                                <input class="ms-input" type="text" formControlName="firstname">
                                <div *ngIf="informationForm.controls.firstname.touched && informationForm.controls.firstname.errors">
                                  <div class="alert alert-danger" *ngIf="informationForm.controls.firstname.errors.required">
                                    Fornavn skal bruges.
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                              <div class="ms-field">
                                <span class="ms-field-title">Efternavn<sup>*</sup></span>
                                <input class="ms-input" type="text" formControlName="lastname">
                                <div *ngIf="informationForm.controls.lastname.touched && informationForm.controls.lastname.errors">
                                  <div class="alert alert-danger" *ngIf="informationForm.controls.lastname.errors.required">
                                    Efternavn skal bruges.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">
                              <div class="ms-field">
                                <span class="ms-field-title">Adgangskode<sup>*</sup></span>
                                <input class="ms-input" type="password" formControlName="password">
                                <div *ngIf="informationForm.controls.password.touched && informationForm.controls.password.errors">
                                  <div class="alert alert-danger" *ngIf="informationForm.controls.password.errors.required">
                                    Adgangskoden skal bruges.
                                  </div>
                                  <div class="alert alert-danger" *ngIf="informationForm.controls.password.errors.minlength">
                                    Adgangskoden skal være minimum
                                    {{ informationForm.controls.password.errors.minlength.requiredLength }} tegn
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                              <div class="ms-field">
                                <span class="ms-field-title">Gentag Adgangskoden<sup>*</sup></span>
                                <input class="ms-input" type="password" formControlName="confirm_password">
                                <div *ngIf="informationForm.controls.confirm_password.touched && informationForm.controls.confirm_password.invalid"
                                  class="alert alert-danger">
                                  <div *ngIf="informationForm.controls.confirm_password.errors.required">Adgangskoden skal bruges igen</div>
                                </div>
                                <div *ngIf="informationForm.controls.confirm_password.valid && informationForm.invalid && informationForm.errors?.passwordsShouldMatch"
                                  class="alert alert-danger">
                                  Adgangskoden stemmer ikke overens.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">
                              <div class="ms-field">
                                <!-- <span class="ms-field-title">Birthday<sup>*</sup></span>
                                <input class="ms-input" type="text" formControlName="dob"> -->
                                <span class="ms-field-title">Fødselsdag (husk årstal)<sup>*</sup></span>
                                <div class="col-xs-9">
                                  <input class="ms-input text-small" style="float:none" placeholder="Select a date"
                                    ngx-mydatepicker name="myDate" formControlName="dob" [options]="myOptions" #dp="ngx-mydatepicker" />
                                </div>
                                <div class="col-xs-3">
                                  <span class="">
                                    <button type="button" class="btn btn-default calender-btn" (click)="dp.toggleCalendar()">
                                      <i class="far fa-calendar-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-default calender-btn" (click)="dp.clearDate()">
                                      <i class="fas fa-times"></i>
                                    </button>

                                  </span>
                                </div>
                                <div *ngIf="informationForm.controls.dob.touched && informationForm.controls.dob.errors">
                                  <div class="alert alert-danger" *ngIf="informationForm.controls.dob.errors.required">
                                    Fødselsdagen skal bruges (husk årstal).
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                              <div class="ms-field">
                                <span class="ms-field-title">Køn<sup>*</sup></span>
                                <select data-ms class="ms-select select-box" type="state" formControlName="gender">
                                  <option value="">Vælge</option>
                                  <option value="male">Mand</option>
                                  <option value="female">Dame</option>
                                </select>
                                <i class="fas fa-caret-down"></i>
                              </div>
                              <div *ngIf="informationForm.controls.gender.touched && informationForm.controls.gender.errors">
                                <div class="alert alert-danger" *ngIf="informationForm.controls.gender.errors.required">
                                  Køn skal bruges.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <h5 class="ms-subtitle">Kontakt Information</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">
                              <div class="ms-field">
                                <span class="ms-field-title">Email<sup>*</sup></span>
                                <input class="ms-input" type="text" formControlName="email">
                                <div *ngIf="informationForm.controls.email.touched && informationForm.controls.email.errors">
                                  <div class="alert alert-danger" *ngIf="informationForm.controls.email.errors.required">
                                    Email skal bruges.
                                  </div>
                                  <div class="alert alert-danger" *ngIf="informationForm.hasError('email', 'email')">
                                    Indtast gyldig email.
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                              <div class="ms-field">
                                <span class="ms-field-title">Telefon nummer<sup>*</sup></span>
                                <input class="ms-input" type="number" formControlName="phoneNo">
                                <div *ngIf="informationForm.controls.phoneNo.touched && informationForm.controls.phoneNo.errors">
                                  <div class="alert alert-danger" *ngIf="informationForm.controls.phoneNo.errors.required">
                                    Telefon nummer skal bruges.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ms-control button-small">
                            <button class="btn btn-primary ms-button" type="button" (click)="progressInfo('Insight'); submitInformation(informationForm)"
                              [disabled]="!informationForm.valid">Next</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div id="section-2" class="ms-content" [ngClass]="showOrHideInsightTab">
                <form [formGroup]="insightForm">
                  <div class="container-fluid">
                    <div class="row card-div">
                      <div class="col-sm-12">
                        <div class="ms-title ms-card text-center">Indblik</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="ms-card pt-0">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="ms-subtitle text-center ms-sub-heading">Din målsætning</div>
                              <p class="text-center">Fortæl om din målsætning for forløbet</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <label class="radio-label">
                                <input type="radio" class="radio-inline" value="Lavere Fedtprocent" formControlName="goal"
                                  (click)="addInputField('lower body fat')">
                                <span class="outside">
                                  <span class="inside"></span></span>Lavere Fedtprocent</label>
                              <label class="radio-label">
                                <input type="radio" class="radio-inline" value="Mere Muskelmasse" formControlName="goal"
                                  (click)="addInputField('more muscle mass')">
                                <span class="outside"><span class="inside"></span></span>Mere Muskelmasse</label>
                              <label class="radio-label">
                                <input type="radio" class="radio-inline" value="Holde Vægten" formControlName="goal"
                                  (click)="addInputField('keep the weight')"><span class="outside"><span class="inside"></span></span>
                                  Holde Vægten (Velvære)</label>
                              <div *ngIf="insightForm.controls.goal.touched && insightForm.controls.goal.errors">
                                <div class="alert alert-danger" *ngIf="insightForm.controls.goal.errors.required">
                                    Din målsætning skal bruges.
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12 text-center goal-weight" *ngIf="showGoalField">
                              <span class="right-space">{{ goalText }}</span>
                              <span class="">
                                <input data-ms class="input-field" type="number" formControlName="targetWeight">
                              </span>
                              <span class="left-space">
                                kg.
                              </span>
                              <div *ngIf="insightForm.controls.targetWeight.touched && insightForm.controls.targetWeight.errors">
                                <div class="alert alert-danger" *ngIf="insightForm.controls.targetWeight.errors.required">
                                  Din ønsket vægt skal bruges.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <h5 class="ms-subtitle">Giv mig et indblik i din nuværende form</h5>
                              <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                  <div class="ms-field">
                                    <span class="ms-field-title">Højde<sup>*</sup></span>
                                    <input data-ms class="ms-input" type="number" placeholder="Din højde i cm"
                                      formControlName="height">
                                    <div *ngIf="insightForm.controls.height.touched && insightForm.controls.height.errors">
                                      <div class="alert alert-danger" *ngIf="insightForm.controls.height.errors.required">
                                          Højde skal bruges.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="ms-field">
                                    <span class="ms-field-title">Vægt<sup>*</sup></span>
                                    <input data-ms class="ms-input" type="number" placeholder="Din vægt i kg"
                                      formControlName="weight">
                                    <div *ngIf="insightForm.controls.weight.touched && insightForm.controls.weight.errors">
                                      <div class="alert alert-danger" *ngIf="insightForm.controls.weight.errors.required">
                                          Vægt skal bruges.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <h5 class="ms-subtitle">Arbejde og beskæftigelse</h5>
                              <div class="slider-position">
                                <div class="row">
                                  <div class="logText">
                                    {{ logText }}
                                  </div>
                                  <ng5-slider [(value)]="value" [options]="options" (userChange)="onUserChange($event)"></ng5-slider>
                                </div>
                              </div>
                            </div>
                            <div class="ms-control button-small">
                              <button class="btn btn-primary ms-button" type="button" (click)="progressInfo('Information')">Back</button>
                              <button class="btn btn-primary ms-button" type="button" (click)="progressInfo('Training'); submitInsight(insightForm)"
                                [disabled]="!insightForm.valid">Next</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div id="section-3" class="ms-content" [ngClass]="showOrHideTrainingTab">
                <form [formGroup]="trainingForm">
                  <div class="container-fluid">
                    <div class="row card-div" *ngIf="planName === 'Training'">
                      <div class="col-sm-12">
                        <div class="ms-title ms-card text-center">Trænings</div>
                      </div>
                    </div>
                    <div class="row card-div" *ngIf="planName === 'Diet'">
                      <div class="col-sm-12">
                        <div class="ms-title ms-card text-center">Kost</div>
                      </div>
                    </div>
                    <div class="row card-div" *ngIf="planName === 'Training & Diet'">
                      <div class="col-sm-12">
                        <div class="ms-title ms-card text-center">Kost & Trænings</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="ms-card">
                          <div *ngIf="planName === 'Training'">
                            <div class="row mt-1">
                              <div class="col-sm-12">
                                <div class="ms-subtitle text-center">Hvor mange gange om ugen kunne du tænke dig at træne?</div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6 col-md-12 mt-2 text-center">
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="1-3" formControlName="trainingPerWeek">
                                  <span class="outside">
                                    <span class="inside"></span></span>1-3 Gange</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="4" formControlName="trainingPerWeek">
                                  <span class="outside"><span class="inside"></span></span>4 Gange</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="5" formControlName="trainingPerWeek"><span class="outside"><span
                                      class="inside"></span></span>
                                  5 Gange</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="6" formControlName="trainingPerWeek"><span class="outside"><span
                                      class="inside"></span></span>
                                  6 Gange</label>
                                <div *ngIf="trainingForm.controls.trainingPerWeek.touched && trainingForm.controls.trainingPerWeek.errors">
                                  <div class="alert alert-danger" *ngIf="trainingForm.controls.trainingPerWeek.errors.required">
                                      Trænings skal bruges.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="planName === 'Diet'">
                            <div class="row mt-1">
                              <div class="col-sm-12">
                                <div class="ms-subtitle text-center">Hvilken Diæt type vil du gerne følge?</div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12 mt-2 text-center">
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="High Carb" formControlName="dietPlan">
                                  <span class="outside">
                                    <span class="inside"></span></span>High Carb</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="Low Carb" formControlName="dietPlan">
                                  <span class="outside"><span class="inside"></span></span>Low Carb</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="Vegetar" formControlName="dietPlan"><span class="outside"><span
                                      class="inside"></span></span>
                                  Vegetar</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="Low FodMap" formControlName="dietPlan"><span class="outside"><span
                                      class="inside"></span></span>
                                  Low FodMap</label>
                                <div *ngIf="trainingForm.controls.dietPlan.touched && trainingForm.controls.dietPlan.errors">
                                  <div class="alert alert-danger" *ngIf="trainingForm.controls.dietPlan.errors.required">
                                    Kost skal bruges.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="planName === 'Training & Diet'">
                            <div class="row mt-1">
                              <div class="col-sm-12">
                                <div class="ms-subtitle text-center">Hvor mange gange om ugen kunne du tænke dig at træne?</div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12 mt-2 text-center">
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="1-3" formControlName="trainingPerWeek">
                                  <span class="outside">
                                    <span class="inside"></span></span>1-3 Gange</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="4" formControlName="trainingPerWeek">
                                  <span class="outside"><span class="inside"></span></span>4 Gange</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="5" formControlName="trainingPerWeek"><span class="outside"><span
                                      class="inside"></span></span>
                                  5 Gange</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="6" formControlName="trainingPerWeek"><span class="outside"><span
                                      class="inside"></span></span>
                                  6 Gange</label>
                                <div *ngIf="trainingForm.controls.trainingPerWeek.touched && trainingForm.controls.trainingPerWeek.errors">
                                  <div class="alert alert-danger" *ngIf="trainingForm.controls.trainingPerWeek.errors.required">
                                      Trænings skal bruges.
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-1">
                              <div class="col-sm-12">
                                <div class="ms-subtitle text-center">Hvilken Diæt type vil du gerne følge?</div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12 mt-2 text-center">
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="High Carb" formControlName="dietPlan">
                                  <span class="outside">
                                    <span class="inside"></span></span>High Carb</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="Low Carb" formControlName="dietPlan">
                                  <span class="outside"><span class="inside"></span></span>Low Carb</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="Vegetar" formControlName="dietPlan"><span class="outside"><span
                                      class="inside"></span></span>
                                  Vegetar</label>
                                <label class="radio-label radio-label-training">
                                  <input type="radio" class="radio-inline" value="Low FodMap" formControlName="dietPlan"><span class="outside"><span
                                      class="inside"></span></span>
                                  Low FodMap</label>
                                <div *ngIf="trainingForm.controls.dietPlan.touched && trainingForm.controls.dietPlan.errors">
                                  <div class="alert alert-danger" *ngIf="trainingForm.controls.dietPlan.errors.required">
                                    Kost skal bruges.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="ms-control">
                              <button class="btn btn-primary ms-button" type="button" (click)="progressInfo('Insight')">Back</button>
                              <button class="btn btn-primary ms-button" type="button" [disabled]="!trainingForm.valid" (click)="progressInfo('Done'); submitTraining(trainingForm)">
                                Next</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div id="section-4" class="ms-content" [ngClass]="showOrHideDoneTab">
                <div class="container-fluid">
                  <div class="row" *ngIf="!showPayment">
                    <div class="col-lg-12">
                      <div class="ms-card">
                        <div class="row">
                          <div class="col-sm-12">
                            <img src="assets/images/badge.png" class="img-responsive center">
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="ms-heading text-center">Godt klaret!</div>
                        </div>
                        <div class="col-sm-12">
                          <div class="ms-title text-center">Du er næsten færdig...</div>
                        </div>
                        <div class="col-sm-12">
                          <div class="ms-subtitle text-center">Vi har nu modtaget alle dine oplysninger, og vil nu gå igang med at argejde.</div>
                        </div>
                        <div class="col-sm-12">
                          <div class="price">
                            Pris {{ planPrice }},-
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="ms-control text-center">
                            <button class="btn btn-primary ms-button" type="button" (click)="showPaymentDiv()">
                                Betal
                              <i class="fa fa-lock"></i>
                            </button>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <p class="terms">Ved betaling accepterer du samtidig vores gældende <a target="_blank" [routerLink]="['/terms']" [routerLinkActive]="['router-link-active']"
                            [routerLinkActiveOptions]="{exact:true}">handelsbetingelser.</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="ms-control">
                      <button class="ms-btn ms-btn-next default-font" type="button" (click)="progressInfo('Training')">Back</button>
                    </div>
                  </div>
                  <div *ngIf="showPayment">
                    <form [formGroup]="paymentForm">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="ms-card">
                            <div class="row">
                              <div class="col-sm-12">
                                <h5 class="ms-subtitle">Betalings Information</h5>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 col-sm-12">
                                <div class="ms-field">
                                  <span class="ms-field-title">Kortholderens Email<sup>*</sup></span>
                                  <input class="ms-input" type="text" formControlName="cardHolderName">
                                  <div *ngIf="paymentForm.controls.cardHolderName.touched && paymentForm.controls.cardHolderName.errors">
                                    <div class="alert alert-danger" *ngIf="paymentForm.controls.cardHolderName.errors.required">
                                      Kortholderens Email skal bruges.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 col-sm-12">
                                <div class="ms-field">
                                  <span class="ms-field-title">Kortnummer<sup>*</sup></span>
                                  <input class="ms-input" type="number" formControlName="cardNumber">
                                  <div *ngIf="paymentForm.controls.cardNumber.touched && paymentForm.controls.cardNumber.errors">
                                    <div class="alert alert-danger" *ngIf="paymentForm.controls.cardNumber.errors.required">
                                      Kortnummer skal bruges.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 col-sm-6">
                                <div class="ms-field">
                                  <span class="ms-field-title">Udløbsdato<sup>*</sup></span>
                                  <input class="ms-input" type="text" formControlName="expiryDate" placeholder="(MM/YY)">
                                  <div *ngIf="paymentForm.controls.expiryDate.touched && paymentForm.controls.expiryDate.errors">
                                    <div class="alert alert-danger" *ngIf="paymentForm.controls.expiryDate.errors.required">
                                      Udløbsdato skal bruges.
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="ms-field">
                                  <span class="ms-field-title">Kontrolnummer<sup>*</sup></span>
                                  <input class="ms-input" type="number" formControlName="cvc">
                                  <div *ngIf="paymentForm.controls.cvc.touched && paymentForm.controls.cvc.errors">
                                    <div class="alert alert-danger" *ngIf="paymentForm.controls.cvc.errors.required">
                                      Kontrolnummer skal bruges.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="showStripeErrorMsg" class="alert alert-danger stripe-error">
                        {{ stripeErrorMsg }}
                      </div>
                      <div class="col-sm-12">
                        <div class="ms-control text-center">
                          <div class="ms-control">
                            <button class="btn btn-primary ms-button" type="button" (click)="showPaymentDiv()">Back</button>
                            <button class="btn btn-primary ms-button" type="button" (click)="proceedPayment(paymentForm)" [disabled]="!paymentForm.valid">
                              Betal
                              <i class="fa fa-lock"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                          <p class="terms">Ved betaling accepterer du samtidig vores gældende <a target="_blank" [routerLink]="['/terms']" [routerLinkActive]="['router-link-active']"
                            [routerLinkActiveOptions]="{exact:true}">handelsbetingelser.</a></p>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- content -->

  </div><!-- modal -->
</div><!-- overlay -->

<div class="container">
  <ngx-loading [show]="loading"></ngx-loading>
</div>