<div class="main-footer default-font">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="ft-logo">
                    <a href=""><img src="assets/images/logo-02.svg" alt=""></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ft-cpy">
                    <p>Copyright © 2018 Bestplan Alle rettigheder forbeholdes.</p>
                </div>

            </div>
        </div>
    </div>
</div>