body {
  background: #fff;
}

body.noScroll {
  /* ...or body.dialogShowing */
  overflow: hidden;
}

.alert {
  padding: 0;
  margin-bottom: 0 !important;
  border: 0 solid transparent;
  border-radius: 0;
}

.alert-danger {
  color: #b91713;
  background-color: #fff;
  border-color: #fff;
  font-size: 13px;
  padding-top: 0.2em;
  font-family: "poppins";
}